img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 15px 0;
    font-family: Raleway;
    font-weight: 900;
    font-style: italic;
    border-color: black;
    position: sticky;
    top: 0%;
    background-color: white;
}